:root {
  --round: 20px;
  --teal: #084955
}

body {
  background-image: url("../../img/wcbg5.png");
  background-size: cover;
  background-attachment: fixed;
  position: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@font-face {
  font-family: 'Pumpkin';
  src: url('../../fonts/PumpkinCheesecake.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Note';
  src: url('../../fonts/SocialMedia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plante';
  src: url('../../fonts/Plante.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Billgest';
  src: url('../../fonts/Cat paw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Abys';
  src: url('../../fonts/Abys-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Chasing';
  src: url('../../fonts/Chasing Embers Demo Version.otf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.navbar-brand {
  font-size: 6.5vh;
  font-family: 'Plante', sans-serif;
  /* adjust the font size to your liking */
}

.navbar-custom {
  background-color: #98ebe1;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar-text {
  font-size: 25px;
  font-family: 'Billgest', sans-serif;
  /* adjust the font size to your liking */
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15vh;
}

#welcome {
  padding-top: 15vh;
}

.logo {
  max-width: 95%;
  margin-bottom: 5px;
}

/* START OF PAGE-SPECIFIC CSS */
.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  font-family: abys;
  font-size: 19vh;
}

h2 {
  font-family: pumpkin;
  font-size: 8vh;

}

.advice-name {
  text-align: center;
  font-family: pumpkin;
  font-size: 300%;
}

h4 {
  font-family: pumpkin;
  font-size: 200%
}

#advice-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.advice {
  width: 30%;
  border-radius: var(--round);
  border-style: double;
  border-width: 5px;
  border-color: var(--teal);
  text-align: center;
  background-color: white;
}

.id-photos {
  margin-top: 20px;
  margin-bottom: 10px;
}

#leah {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

#micah {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

#paige {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

.advice-text {
  padding: 10px;
}

.p-advice {
  text-align: left;
}

@media(max-width:768px) {
  #advice-section {
    flex-direction: column;
  }

  .advice {
    width: 90%;
    margin: 0 auto;
  }
}

.title {
  font-size: 10rem;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 5rem;
  }
}